
<!DOCTYPE html>
<html ng-app="distanceBtwCities">
<head ng-controller="headController">
    <meta charset="utf-8" />
    <title ng-bind="title">Загрузка...</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="css/app.min.{#version#}.css" rel="stylesheet" >
    <script src="js/angular.min.js"></script>
    <script src="js/angular-animate.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/ui-bootstrap-tpls.min.js"></script>
    <script src="js/app.min.{#version#}.js"></script>
</head>
<body>
    <div class="content-panel" ng-controller="searchPanelController">
        <uib-tabset active="activeTabIndex">
            <uib-tab index="0" heading="Поиск по городам">
                <div class="form-horizontal">
                    <div class="form-group col-sm-10">
                        <input type="text"
                                ng-model="citySelected"
                                placeholder="Введите название города"
                                typehead-editable="false"
                                typeahead-min-length="3"
                                typeahead-wait-ms="500"
                                uib-typeahead="city as city.fullName for city in findCities($viewValue)"
                                typeahead-on-select="onSelect($item, $model, $label)"
                                typeahead-loading="loadingCities"
                                typeahead-no-results="noResults" class="form-control"
                                ng-focus="citySelected = null;"
                                ng-blur="citySelected = label;" />
                        <i ng-show="loadingCities" class="glyphicon glyphicon-refresh"></i>
                        <div ng-show="noResults">
                            <i class="glyphicon glyphicon-remove"></i> Ничего не найдено. Уточните параметры поиска.
                        </div>
                    </div>
                    <button type="submit" class="btn btn-default col-sm-2" ng-click="findByCityId()">Искать</button>
                </div>
            </uib-tab>
            <uib-tab index="1" heading="Текстовый поиск">
                Tab 2<br/>
                activeTabIndex - {{activeTabIndex}}
            </uib-tab>
        </uib-tabset>
    </div>
    <div class="content-panel" ng-controller="searchResultsController">
        <div class="main-contents-panel">
            fdfsdfdsfsd<br/>
            fdfsdfdsfsd<br/>
            fdfsdfdsfsd<br/>
            fdfsdfdsfsd<br/>
            fdfsdfdsfsd<br/>
        </div>
    </div>
</body>
</html>