<!DOCTYPE html>
<html ng-app="distanceBtwCities">
<head ng-controller="headController">
    <meta charset="utf-8" />
    <title ng-bind="title">Загрузка...</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="css/app.min.{#version#}.css" rel="stylesheet" >
    <script src="js/angular.min.js"></script>
    <script src="js/angular-animate.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/ui-bootstrap-tpls.min.js"></script>
    <script src="js/app.min.{#version#}.js"></script>
</head>
<body>
    <!-- индикатор загрузки содержимого страницы -->
    <div id="page-overlay-container" class="page-overlay" ng-show="overlayVisible" ng-controller="overlayController">
        <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
    </div>
    <!-- /индикатор загрузки содержимого страницы -->
    <div id="page-main-container" class="container">
        <div class="row" ng-controller="searchPanelController">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <uib-tabset>
                    <uib-tab index="0" heading="Поиск по городам">
                        <div class="tab-contents-block">
                            <div class="col-lg-11 nopadding">
                                <input class="form-control"
                                        type="text"
                                        ng-model="citySelected"
                                        placeholder="Введите название города"
                                        typehead-editable="false"
                                        typeahead-min-length="3"
                                        typeahead-wait-ms="500"
                                        uib-typeahead="city as city.fullName for city in findCities($viewValue)"
                                        typeahead-on-select="onSelect($item, $model, $label)"
                                        typeahead-loading="loadingCities"
                                        typeahead-no-results="noResults"
                                        ng-focus="citySelected = null;"
                                        ng-blur="citySelected = label;" />
                                <div ng-show="noResults">
                                    <i class="glyphicon glyphicon-remove"></i> Ничего не найдено. Уточните параметры поиска.
                                </div>
                            </div>
                            <div class="col-lg-1 nopadding">
                                <button ng-disabled="loadingCities" type="submit" class="btn btn-default btn-block" ng-click="findByCityId()">
                                    <span ng-show="loadingCities" class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                                    <span ng-hide="loadingCities" class="glyphicon glyphicon-search" aria-hidden="true"></span> Найти
                                </button>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab index="1" heading="Поиск по названию">
                        <div class="tab-contents-block">
                            <div class="col-lg-11 nopadding">
                                <input class="form-control"
                                        type="text"
                                        ng-model="formData.cityNameQuery"
                                        placeholder="Введите название города" />
                            </div>
                            <div class="col-lg-1 nopadding">
                                <button type="submit" class="btn btn-default btn-block" ng-click="findByCityName()">
                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Найти
                                </button>
                            </div>
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
        <div class="row" ng-controller="searchResultsController">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="main-contents-panel">
                    <div class="table-responsive">
                        <!-- форма редактирования расстояний -->
                        <div id="page-distance-editor-controller" class="route-editor" ng-show="editorVisible" ng-controller="distanceEditController">
                            <div class="edit-value-control-container">
                                <input type="number" min="-1" max="30000" ng-model="editValue" />
                            </div>
                            <div class="edit-value-buttons-container">
                                <button type="button" class="btn btn-default btn-xs" aria-label="Сохранить" ng-click="save()">
                                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                </button>
                                <button type="button" class="btn btn-default btn-xs" aria-label="Отмена" ng-click="close()">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>
                        <!-- /форма редактирования расстояний -->
                        <table id="routes-table" class="table">
                            <thead>
                                <tr>
                                <tr>
                                    <th>Id маршрута</th>
                                    <th>Город 1</th>
                                    <th>Город 2</th>
                                    <th>Дистанция, км.</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-hide="hasResultData">
                                    <td colspan="5">Нет данных</td>
                                </tr>
                                <tr ng-attr-id="{{dataRowIdPrefix + route.id}}" ng-repeat="route in routes track by route.id">
                                    <td>{{::route.id}}</td>
                                    <td>{{::route.city1.name}}</td>
                                    <td>{{::route.city2.name}}</td>
                                    <td ng-class="distanceTdClassName">
                                        {{::route.distance}}
                                    </td>
                                    <td ng-class="buttonsTdClassName">
                                        <button type="button" class="btn btn-default btn-xs" aria-label="Редактировать" ng-click="edit(route)">
                                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <nav ng-show="hasResultData" aria-label="Page navigation">
                            <ul class="pagination">
                                <li ng-class="{disabled: paginationData.firstPageEnabled == false}">
                                    <a href="#" ng-click="loadPage(paginationData.firstPageNum)" aria-label="First">
                                        <span aria-hidden="true">&laquo;&laquo;</span>
                                    </a>
                                </li>
                                <li ng-class="{disabled: paginationData.previousPageEnabled == false}">
                                    <a href="#" ng-click="loadPage(paginationData.previousPageNum)" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li ng-repeat="page in paginationData.pages track by page.pageNumber" ng-class="{active: page.isCurrent}">
                                    <a href="#" ng-click="loadPage(page.pageNumber)">{{::page.pageNumber + 1}}</a>
                                </li>
                                <li ng-class="{disabled: paginationData.nextPageEnabled == false}">
                                    <a href="#" ng-click="loadPage(paginationData.nextPageNum)" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                <li ng-class="{disabled: paginationData.lastPageEnabled == false}">
                                    <a href="#" ng-click="loadPage(paginationData.lastPageNum)" aria-label="Last">
                                        <span aria-hidden="true">&raquo;&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
        </div>
    </div>
    </div>
</body>
</html>