
<!DOCTYPE html>
<html ng-app="distanceBtwCities">
<head ng-controller="headController">
    <meta charset="utf-8" />
    <title ng-bind="title">Загрузка...</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="css/app.min.{#version#}.css" rel="stylesheet" >
    <script src="js/angular.min.js"></script>
    <script src="js/angular-animate.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/ui-bootstrap-tpls.min.js"></script>
    <script src="js/app.min.{#version#}.js"></script>
</head>
<body>
    <div class="container" ng-controller="searchPanelController">
        <div class="row">
                <uib-tabset>
                    <uib-tab index="0" heading="Поиск по городам">
                        <div class="tab-contents-block">
                            <div class="col-lg-11 nopadding">
                                <input class="form-control"
                                       type="text"
                                       ng-model="citySelected"
                                       placeholder="Введите название города"
                                       typehead-editable="false"
                                       typeahead-min-length="3"
                                       typeahead-wait-ms="500"
                                       uib-typeahead="city as city.fullName for city in findCities($viewValue)"
                                       typeahead-on-select="onSelect($item, $model, $label)"
                                       typeahead-loading="loadingCities"
                                       typeahead-no-results="noResults"
                                       ng-focus="citySelected = null;"
                                       ng-blur="citySelected = label;" />
                                <div ng-show="noResults">
                                    <i class="glyphicon glyphicon-remove"></i> Ничего не найдено. Уточните параметры поиска.
                                </div>
                            </div>
                            <div class="col-lg-1 nopadding">
                                <button ng-disabled="loadingCities" type="submit" class="btn btn-default btn-block" ng-click="findByCityId()">
                                    <span ng-show="loadingCities" class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                                    <span ng-hide="loadingCities" class="glyphicon glyphicon-search" aria-hidden="true"></span> Найти
                                </button>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab index="1" heading="Поиск по названию">
                        <div class="tab-contents-block">
                            <div class="col-lg-11 nopadding">
                                <input class="form-control"
                                       type="text"
                                       ng-model="cityNameQuery"
                                       placeholder="Введите название города"/>
                            </div>
                            <div class="col-lg-1 nopadding">
                                <button type="submit" class="btn btn-default btn-block" ng-click="findByCityName()">
                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Найти
                                </button>
                            </div>
                        </div>
                    </uib-tab>
                </uib-tabset>
        </div>
        <div class="content-panel" ng-controller="searchResultsController">
            <div class="main-contents-panel">
                fdfsdfdsfsd<br />
                fdfsdfdsfsd<br />
                fdfsdfdsfsd<br />
                fdfsdfdsfsd<br />
                fdfsdfdsfsd<br />
            </div>
        </div>
    </div>
</body>
</html>