@import url(http://fonts.googleapis.com/css?family=PT+Sans&subset=cyrillic,cyrillic-ext,latin,latin-ext);

body {
    padding: 10px 10px 10px 10px;
    margin: 0px 0px 0px 0px;
    font-family: 'PT Sans' , sans-serif;
    font-size: 11pt;
    background-color: #ffffff;
}

button, input {
    font-family: inherit;
    font-size: 10pt;
}

/* BEGIN: Видимость контейнеров */
.hidden {
    display: none;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.cell {
    display: table-cell;
}
/* END: Видимость контейнеров */

.c-page-city-select-block {
    display: block;
    position: absolute; 
    background-color: #ffffff;    
    border: 1px solid #808080;
    cursor: pointer;
}


.c-page-city-select-txt-empty {
    color: #ff0000;
}


.c-page-city-select-item {
    padding: 4px 6px 2px 6px;
}

.c-page-city-select-item-selected {    
    background-color: #336699;
    color: #ffffff;
}


.c-page-form-overlay-container {
    display: none; 
    overflow: hidden;
    position: absolute; 
    background: #ffffff;
    opacity: 0.5;
}

.c-page-form-overlay-container > div {
    position:absolute;
    font-size: 48pt;
    color: #e0e0e0;
}

.c-page-main-container {
    width: 1200px; /* Ширина макета */
    margin: 0 auto; /* Выравниваем макет по центру */
}

.c-page-search-form {
    
    background-color: #f0f0f0;
    padding: 6px;
}

.c-page-search-form-row {
    display: block;
}

.c-page-search-form-row-item {
    display: inline-block;
    padding-right: 8px;
    font-size: 9pt; 
}

.c-page-button-caption {
    display: inline-block;
    padding-left: 4pt;
    padding-right: 4pt;
    font-size: 9pt; 
}

.c-page-search-form-text {
    width: 300pt;
}

.c-page-search-form-tab {
    display: inline-block;
    font-size: 11pt;         
    padding: 4px;
    cursor: pointer;
}

.c-page-search-form-tab-selected {
    background-color: #f0f0f0;
    cursor: default;
}

.c-page-search-parameters {
    font-size: 8pt;
    width: 100%;
    margin-top: 10px;
}

.c-page-search-parameters > label {
    margin-right: 8px;
}

.c-page-search-parameters-header {
    background-color: #f0f0f0;
    padding: 4px;
}

.c-page-main-table {
    border-collapse: collapse;
    font-size: 8pt;
    width: 100%;
    margin-top: 10px;
}

.c-page-main-table > TBODY {
    background-color: #ffffff;
}

.c-page-main-table > TFOOT {
    font-weight:500;
}

.c-page-main-table > THEAD {
    background-color: #f0f0f0;
}

.c-page-main-table TH {
    padding: 2px;
    border: 1px solid #c0c0c0;
    font-weight: 500;
    font-style: italic;
}

.c-page-main-table TD {
    padding: 4px;
    border: 1px solid #f0f0f0;
}

.c-page-main-table-col-num {
    width: 20pt;
}

.c-page-main-table-col-city1 {
    
}

.c-page-main-table-col-city2 {
    
}


.c-page-main-table-col-distance {
    width: 60pt;
}

.c-page-main-table-col-edit {
    width: 20pt;
    align-content: center;
    font-size: 11pt;
}

.c-page-main-table-col-edit > i {
    cursor: pointer;
}

.c-page-navpage-panel {
    margin-top: 10px;
}

.c-page-navpage-container {
    display: inline-block;
}

.c-page-navpage-panel-link {
    display: inline-block;
    cursor: pointer;
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    font-size: 10pt;
}

.c-page-navpage-panel-link-disabled {
    color: #a0a0a0;
    cursor: default;
}

.c-page-navpage-panel-link-current {
    font-weight: bold;
    cursor: default;
    background-color: #f0f0f0;
}

#i-page-navpage-pagelink-template {
    display: none;
}

.c-page-distance-edit-form {
    display: none;
    border: 2px solid #336699;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 99999;
    background-color: #ffffff;
    font-size: 10pt;
}

.c-page-edit-form-overlay-mask {
    display: none;
    background-color: #336699;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: 999;
}

.c-page-distance-edit-form-header {
    padding: 8px;
    background-color: #f0f0f0;
}

.c-page-distance-edit-form-edit {
    padding: 8px;
}

.c-page-distance-edit-form-edit-txt {
    width: 30pt;
    margin-left: 8px;
    margin-right: 8px;
}

.c-page-distance-edit-form-edit-txt-error {
    background-color: #ff0000;
}

.c-page-distance-edit-form-buttons {
    padding: 8px;
    float: right;
}

.c-page-distance-edit-form-city-info {
    padding: 8px;    
}

.c-page-distance-edit-form-distance-info {
    padding: 8px;
}

.c-page-distance-edit-form-distance-info > label {
    margin-right: 4px;
}

.c-page-distance-edit-form-error {
    font-size: 10pt;
    font-style: italic;
    color: #ff0000;
    padding: 8px;
}